---
import { Image } from "@astrojs/image/components";
import Icon from "astro-icon";
import type { CollectionEntry } from "astro:content";
export interface Props {
  project: CollectionEntry<"projects">;
}

const {
  data: { title, imageURL, github, demo }
} = Astro.props.project;

const { Content } = await Astro.props.project.render();
---

<div class="flex flex-col">
  <a href={demo || github}>
    <Image
      alt={title}
      src={imageURL}
      width={512}
      height={288}
      class="image"
    />
  </a>
  <div class="flex items-center justify-between pt-6 pb-2">
    <a href={demo} class={`text-xl font-bold link`}>{title}</a>
    <div class="gap-4 flex text-xl">
      {
        github && (
          <a href={github} class="link" target="_blank">
            <Icon class="w-6 h-6" name="fa-solid:code" />
          </a>
        )
      }
      {
        demo && (
          <a href={demo} class="link" target="_blank">
            <Icon class="w-6 h-6" name="fa-solid:window-maximize" />
          </a>
        )
      }
    </div>
  </div>
  <div class="prose prose-sm dark:prose-invert prose-orange dark:prose-teal">
    <Content />
  </div>
</div>

<style>
  .image {
    @apply transition-all duration-300 w-full aspect-[16/9] rounded-lg;
  }

  .image:hover {
    @apply shadow-lg shadow-orange-500;
  }

  :global(.dark) .image:hover {
    @apply shadow-teal-500;
  }
</style>
