---
import { Image } from "@astrojs/image/components";
import Icon from "astro-icon";
import type { CollectionEntry } from "astro:content";
export interface Props {
  project: CollectionEntry<"projects">;
}

const {
  data: { title, imageURL, github, demo }
} = Astro.props.project;

const { Content } = await Astro.props.project.render();

import "@styles/project.scss";
---

<div class="card card-compact card-bordered border-neutral hover:shadow-lg hover:shadow-primary">
  <figure>
    <a href={demo || github}>
      <Image alt={title} src={imageURL} width={512} height={288} class="" />
    </a>
  </figure>
  <div class="card-body">
    <div class="flex flex-row items-center justify-between">
      <a href={demo} class={`card-title link link-hover hover:link-primary`}
        >{title}</a
      >
      <div class="gap-4 flex text-xl">
        {
          github && (
            <a href={github} class="hover:link-secondary" target="_blank">
              <Icon class="w-6 h-6" name="fa-solid:code" />
            </a>
          )
        }
        {
          demo && (
            <a href={demo} class="hover:link-secondary" target="_blank">
              <Icon class="w-6 h-6" name="fa-solid:window-maximize" />
            </a>
          )
        }
      </div>
    </div>
    <div class="description">
      <Content />
    </div>
  </div>
</div>

