---
  import Icon from 'astro-icon';

  export interface Props {
    title: string;
    description: string;
    image?: string;
    repo?: string;
    link?: string;
  }

  const hover =
    'hover:text-orange-500 hover:dark:text-teal-500 transition-colors';

  const {title, description, image, repo, link} = Astro.props;
---

<div class="flex flex-col">
  {image
    ? <img
      src={image}
      alt={title}
      class="border-[1px] border-black/30 dark:border-white/30 w-full aspect-[16/9] rounded-lg"
    />
  
    : <div
      class="border-[1px] border-black/30 dark:border-white/30 w-full aspect-[16/9] rounded-lg"
    />
  }
  <div class="flex items-center justify-between pt-6 pb-2">
    <a href={link} class={`text-xl font-bold ${hover}`}>{title}</a>
    <div class="gap-4 flex text-xl">
      {repo && <a href={repo} class={hover}>
          <Icon class="w-6 h-6" name="fa-solid:code" />
        </a>
      }
      {link && <a href={link} class={hover}>
          <Icon class="w-6 h-6" name="fa-solid:window-maximize" />
        </a>
      }
    </div>
  </div>
  <p class="font-sm text-black/50 dark:text-white/50">{description}</p>
</div>
